.indexblocka {
  background-color: #8bd4f1;
  padding: 25px;
}

.indexblockb {
  background-color: #bae2f1;
  padding: 25px;
}

.klcode {
  /*font-family: Courier New;*/
  background-color: #dadada;
  padding: 3px;
}

pre {
  padding: 4px;
  background-color: #f4f4f4;
  border: 1px solid #a0a0a0;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  color: #1c252a;
  background-color: #eaeaea;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

table.paramtable {
  white-space: nowrap;
}

table.paramtable td, table.paramtable tr{
  text-align: left;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #beb797;
  background-color: #fdf5d0;
}

table.methodtable {
  white-space:nowrap;
}

table.methodtable td, table.methodtable tr{
  text-align: left;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #888888;
  background-color: #FAFAFA;
}

p.first {
    margin-bottom: 0px;
}
